body {
  margin: 0;
  padding: 0;
  background-color: rgb(164, 186, 187);
}

.container h2 {
  text-align: center;
  font-family: 'Fredoka', sans-serif;
  font-family: 'Fredoka', sans-serif;
  font-size: xx-large;
}

.book-display {
  border: 1px dotted rgb(0, 102, 255);
  display: flex;
  flex-direction: column;
  list-style: none;
  padding: 1px;
  margin: 5% 5% 12% 5%;
}

.book-items {
  font-family: 'Fredoka', sans-serif;
  list-style: none;
  display: flex;
  justify-content: space-around;
  padding: 5px;
  align-items: center;
}

.book-items li {
  width: 100%;
  text-align: center;
  font-size: x-large;
}

.field-add {
  display: flex;
  flex-direction: column;
  text-align: center;
  margin: 8% 0;
  padding-top: 10px;
}

#add-form input {
  padding: 15px 30px;
  margin: 10px 0;
  font-size: large;
}

#add-form button {
  background-color: #0095ff;
  border: 1px solid transparent;
  border-radius: 3px;
  box-shadow: rgba(255, 255, 255, 0.4) 0 1px 0 0 inset;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  font-size: 13px;
  font-weight: 400;
  outline: none;
  text-align: center;
  white-space: nowrap;
  padding: 15px 25px;
}

.remove-btn {
  background-color: #f00;
  border: 1px solid transparent;
  border-radius: 3px;
  box-shadow: rgba(255, 255, 255, 0.4) 0 1px 0 0 inset;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  font-size: 13px;
  font-weight: 400;
  outline: none;
  text-align: center;
  white-space: nowrap;
  padding: 15px 25px;
}

.navigation {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: rgb(109, 31, 0);
}

.navigation h1 {
  font-family: 'Fredoka', sans-serif;
  font-size: xx-large;
  color: #fff;
}

.nav-items {
  display: flex;
  flex-direction: row;
  list-style: none;
}

.nav-items a {
  font-family: 'Fredoka', sans-serif;
  font-size: large;
  padding: 0 15px;
  color: #fff;
  cursor: pointer;
}

.nav-items a:hover {
  color: black;
}

.book-add h2 {
  text-align: center;
  font-family: 'Fredoka', sans-serif;
  font-family: 'Fredoka', sans-serif;
  font-size: xx-large;
}

/* contact page */

.contact-info {
  display: none;
  flex-direction: column;
  align-items: center;
  gap: 80px;
}

.contact-info h2 {
  text-align: center;
  font-family: 'Fredoka', sans-serif;
  font-family: 'Fredoka', sans-serif;
  font-size: xxx-large;
}

.contact-info p {
  font-family: 'Fredoka', sans-serif;
  font-size: xx-large;
  text-align: center;
  padding: 0 35px;
  color: #000;
}

.contact-info ul {
  font-family: 'Fredoka', sans-serif;
  font-size: x-large;
  padding: 4% 22%;
  color: #000;
  text-align: left;
}

.contact-info ul li {
  font-family: 'Fredoka', sans-serif;
  font-size: x-large;
  padding: 3% 0;
  color: #000;
  text-align: left;
}

footer {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgb(109, 31, 0);
  font-family: 'Fredoka', sans-serif;
  font-size: x-large;
  text-align: center;
  color: #fff;
  padding: 1em 0;
}
